---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import MyWork from '../components/MyWork.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Eslam Khalaf">
	<main class="">
		<Hero />
		<MyWork />
		<Footer />
	</main>
</Layout>

